---
import Back from '../../components/Back.astro'
import Layout from "../../layouts/Layout.astro";
---
<!--
	Este archivo es antiguo y usa un formato diferente.
 -->
<Layout>
    <!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Astro.js wiki | Astro islands</title>
		<link rel="icon" href="./favicon.svg">
	</head>
	<body>
		<article>
            <Back />
            <easy>Principiante</easy>
			<h1>Astro.js Wiki | Astro islands </h1>
			<p>
				Las Astro islands es una forma para renderizar en la que tu página empieza con cero JavaScript y añade lo necesario. Las Astro islands (islas) son compatibles con React, Preact, Svelte, Solid, entre otros. Lo que hace Astro es renderizar por ejemplo un componente con 0 JavaScript, todo en HTML y después añadira JavaScript para la interactividad si es necesario. Esto hace que las páginas usando Astro sean rápidas eliminando el JavaScript inecesario.
			</p>
			<p>
				A esto se le llama `Partial hydration` (Hidratación parcial). 
			</p>
			
		</article>
	</body>
	</html>
</Layout>