* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: #000;

    width: 100%;
    min-height: 100vh;

    background: linear-gradient(10deg, rgba(0, 155, 238, 0.134) 1%, #fff 80%);


}
body * {
    margin-top: 20px;
}
/*
    Difficulties
*/
easy {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    color: rgb(96, 154, 7);
}
medium {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    color: rgb(255, 173, 42);
}
hard {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    color: rgb(216, 84, 48);
}
highlight {
    color: #fff;
    padding-left: 6px;
    padding-right: 6px;
    background-color: rgb(17, 19, 49);
    border-radius: 0px;
}
pre {
    padding: 8px;
}
code {
    font-family: 'Cascadia Code', 'Courier New', Courier, monospace;
    font-size: 16px;
}
/*
    Wrappers
*/
main, section, article {
    padding: 40px;
    width: 100%;
    max-width: 1200px;
}
/*
Main
*/
main p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 48rem;
    margin-left: 0px;
}
main p svg {
    width: 120px;
    max-width: 70%;
    height: 120px;
}
main h1, article h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 40px;
    font-size: 40px;
    color: #000;
    
}
main p {
    margin-top: 20px;
    width: 100%;
}
/*
Article list
*/
section#articles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 10px;
}