---
export interface Props {
	level: string
	title: string
	body: string
	href: string
}

const { level, href, title, body } = Astro.props
---

<li class="link-card w-full bg-zinc-900 p-[16px] rounded-[7px] border-zinc-800 border-2 shadow-lg shadow-slate-900">
	<a href={href} class="link">
		<div class="content">
			<span class="text-[15px]">
				{
					level == "easy" ? (
						<easy>Principiante</easy>
					) : level == "medium" ? (
						<medium>Medio</medium>
					) : (
						<hard>Difícil</hard>
					)
				}
			</span>
			<h2 class="font-bold">
				{title}
				<span>&rarr;</span>
			</h2>
			<p class="text-[15px] my-[10px]">
				{body}
			</p>
		</div>
	</a>
</li>
