---
export interface Props {
	level: string
	title: string
	body: string
	href: string
}

const { level, href, title, body } = Astro.props
---

<a
	href={href}
	class="link link-card w-full bg-zinc-900 p-[16px] rounded-[7px] border-zinc-800 border-2 shadow-lg shadow-slate-800 hover:scale-110 transition-all"
>
	<div class="content">
		<div class="flex items-center justify-center h-[20px] my-[10px]">
			<span class="text-[15px] w-full">
				{
					level == "easy" ? (
						<easy>Principiante</easy>
					) : level == "medium" ? (
						<medium>Medio</medium>
					) : (
						<hard>Difícil</hard>
					)
				}
			</span>
			<div class="is-read text-gray-400 italic float-right mr-0"></div>
		</div>
		<h2 class="font-bold text-[20px]">
			{title}
			<span>&rarr;</span>
		</h2>
		<p class="text-[15px] my-[10px]">
			{body}
		</p>
	</div>
</a>
