---
export interface Props {
	level: string;
	title: string;
	body: string;
	href: string;
}

const { level, href, title, body } = Astro.props;
---

<li class="link-card">
	<a href={href} class="link">
		<div class="content">
			<span>
				{level == "easy" ? <easy>Principiante</easy> : level == "medium" ? <medium>Medio</medium> : <hard>Difícil</hard>}
			</span>
			<h2>
				{title}
				<span>&rarr;</span>
			</h2>
			<p>
				{body}
			</p>
		</div>
	</a>

</li>