---
import Github from "./Github.astro";
---

<nav class="fixed top-0 left-0 w-full flex">
    <a href="https://github.com/erixweb/astrowiki" class="main" target="_blank" rel="nofollow">
        <Github />
    </a>
    <button class="themes">
        <span class="dark">
            🌚
        </span>
        <span class="light">
            🌞
        </span>
    </button>
    <button class="leido">
        Leídos <span class="leido-count">0</span>/<span class="leido-total">0</span>
    </button>
</nav>